{% extends "app/base.html" %} {% load static %} {% block content %}
<!-- checkout area start -->
<div class="checkout-area pt-100px pb-100px">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="billing-info-wrap">
          <h3>Billing Details</h3>
          <div class="row">
             <div class="col-lg-6 col-md-6">
              <div class="billing-info mb-4">
                <label>First Name</label>
                <input type="text" value=" {{request.user.username|title}} " />
              </div>
            </div>
        
              <div class="col-lg-6 col-md-6">
              <div class="billing-info mb-4">
                <label>Last Name</label>
                <input type="text" value=" {{active_address.name}} " />
              </div>
            </div>
         
            <div class="col-lg-6 col-md-6">
              <div class="billing-info mb-4">
                <label>Mobile</label>
                <input type="text"  value=" {{active_address.mobile}} "/>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="billing-info mb-4">
                <label>Address</label>
                <input type="text" value=" {{active_address.address}} " />
              </div>
            </div>
           
    
          </div>
         
          <div class="different-address open-toggle mt-30px">
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="billing-info mb-4">
                  <label>First Name</label>
                  <input type="text" />
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="billing-info mb-4">
                  <label>Last Name</label>
                  <input type="text" />
                </div>
              </div>
              <div class="col-lg-12">
                <div class="billing-info mb-4">
                  <label>Company Name</label>
                  <input type="text" />
                </div>
              </div>
              <div class="col-lg-12">
                <div class="billing-select mb-4">
                  <label>Country</label>
                  <select>
                    <option>Select a country</option>
                    <option>Azerbaijan</option>
                    <option>Bahamas</option>
                    <option>Bahrain</option>
                    <option>Bangladesh</option>
                    <option>Barbados</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="billing-info mb-4">
                  <label>Street Address</label>
                  <input
                    class="billing-address"
                    placeholder="House number and street name"
                    type="text"
                  />
                  <input
                    placeholder="Apartment, suite, unit etc."
                    type="text"
                  />
                </div>
              </div>
              <div class="col-lg-12">
                <div class="billing-info mb-4">
                  <label>Town / City</label>
                  <input type="text" />
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="billing-info mb-4">
                  <label>State / County</label>
                  <input type="text" />
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="billing-info mb-4">
                  <label>Postcode / ZIP</label>
                  <input type="text" />
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="billing-info mb-4">
                  <label>Phone</label>
                  <input type="text" />
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="billing-info mb-4">
                  <label>Email Address</label>
                  <input type="text" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 mt-md-30px mt-lm-30px">
        <div class="your-order-area">
          <h3>Your order</h3>
          <div class="Place-order mt-25">
            <a
              href="{% url "app:cart" %}"
              style="
                color: white;
                padding: 10px 20px;
                border-radius: 4px;
                display: inline-block;
                text-align: center;
                text-decoration: none;
                font-weight: 500;
              "
              class="btn mt-3 mb-4"
              >Go back to Cart</a
            >
          </div>

          <div class="your-order-wrap gray-bg-4">
            <div class="your-order-product-info">
              <div class="your-order-top">
                <ul>
                  <li>Product</li>
                  <li>Total</li>
                </ul>
              </div>
              {% for product_id, item in cart_data.items %}
              <div class="your-order-middle">
                <ul>
                  <li>
                    <span class="order-middle-left"
                      >{{item.title}} X {{item.qty}}</span
                    >
                    {% with item.price|cut:"$"|floatformat:2 as clean_price %}
                    <span class="order-price amount">${{ clean_price }} </span>
                    {% endwith %}
                  </li>
                </ul>
              </div>
              {% endfor %}
               <div class="your-order-total">
                <ul>
                  <li class="order-total">Total Product</li>
                  <li>${{cart_total_amount|floatformat:2}}</li>
                </ul>
              </div>
              {% if applied_coupon %}
              <div class="your-order-bottom">
              <ul>
                <li class="your-order-shipping"> Coupon ({{ applied_coupon.code }}) </li>
                <li>- ${{ discount|floatformat:2 }}</li>
              </ul>
              </div> 
              {% endif %}

              <br/>
              <div class="your-order-bottom">
                <ul>
                  <li class="your-order-shipping">Shipping</li>
                  <li>Free shipping</li>
                </ul>
              </div>
               <div class="your-order-total">
                <ul>
                  <li class="order-total">Grand Total</li>
                  <li>${{ grand_total|floatformat:2 }}</li>
                </ul>
              </div>
            </div>
            
          </div>
          <div class="Place-order mt-25 w-50" >
            {{paypal_payment_button.render}}
           <!--<a class="btn-hover" href="#">Place Order</a>--> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- checkout area end -->

{% endblock content %}
