{% extends "app/base.html" %} {% load static %} {% block content %}
<!-- account area start -->
<div class="account-dashboard pt-100px pb-100px">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-3 col-lg-3">
        <!-- Nav tabs -->
        <div class="dashboard_tab_button" data-aos="fade-up" data-aos-delay="0">
          <ul role="tablist" class="nav flex-column dashboard-list">
            <li>
              <a href="#dashboard" data-bs-toggle="tab" class="nav-link active"
                >Dashboard</a
              >
            </li>
            <li>
              <a href="#orders" data-bs-toggle="tab" class="nav-link">Orders</a>
            </li>
            <li>
              <a href="#downloads" data-bs-toggle="tab" class="nav-link"
                >Downloads</a
              >
            </li>
            <li>
              <a href="#address" data-bs-toggle="tab" class="nav-link"
                >Addresses</a
              >
            </li>
            <li>
              <a href="#account-details" data-bs-toggle="tab" class="nav-link"
                >Account details</a
              >
            </li>
            <li><a href="login.html" class="nav-link">logout</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12 col-md-9 col-lg-9">
        <!-- Tab panes -->
        <div
          class="tab-content dashboard_content"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <div class="tab-pane fade show active" id="dashboard">
            <h4>Hello {{request.user|title}}!</h4>
            <p>
              From your account dashboard. you can easily check &amp; view your
              <a href="#">recent orders</a>, manage your
              <a href="#">shipping and billing addresses</a> and
              <a href="#">Edit your password and account details.</a>
            </p>
          </div>
          <div class="tab-pane fade" id="orders">
            <h4>Orders</h4>
            <div class="table_page table-responsive">
              <table>
                <thead>
                  <tr>
                    <th>Order</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Paid Status</th>
                    <th>Total</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  {% for o in orders %}
                  <tr>
                    <td>INVOICE_NO-{{o.id}}</td>
                    <td>{{o.order_date}}</td>
                    <td><span class="success">{{o.product_status}}</span></td>
                    {% if o.paid_status == True %}
                    <td class="text-success"><b>✔️</b></td>
                    {% else %}
                    <td class="text-danger">
                      <b><span>X</span></b>
                    </td>
                    {% endif %}
                    <td>${{o.price}}</td>
                    <td><a href="{% url "app:order-detail" o.id %}" class="view">view</a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <div class="tab-pane fade" id="downloads">
            <h4>Downloads</h4>
            <div class="table_page table-responsive">
              <table>
                <thead>
                  <tr>
                    <th>Product</th>
                    <th>Downloads</th>
                    <th>Expires</th>
                    <th>Download</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Shopnovilla - Free Real Estate PSD Template</td>
                    <td>May 10, 2018</td>
                    <td><span class="danger">Expired</span></td>
                    <td>
                      <a href="#" class="view"
                        >Click Here To Download Your File</a
                      >
                    </td>
                  </tr>
                  <tr>
                    <td>Organic - ecommerce html template</td>
                    <td>Sep 11, 2018</td>
                    <td>Never</td>
                    <td>
                      <a href="#" class="view"
                        >Click Here To Download Your File</a
                      >
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="tab-pane" id="address">
            <div>
              <form class="mb-4" method="POST">
                {% csrf_token %}
                <div>
                   <h5>Add Address</h5>
                </div>
                <div class="row">
                  <div class="form-group col-md-4">
                    <input placeholder="Name" required="" class="form-control" name="name" type="text" />
                  </div>
                  <div class="form-group col-md-4">
                    <input placeholder="Address" required="" class="form-control" name="address" type="text" />
                  </div>
                  <div class="form-group col-md-4">
                    <input placeholder="Phone" required="" class="form-control" name="mobile" />
                  </div>
                  <div >
                    <button type="submit" style="background-color: #eaaa85; color: white; padding: 10px 20px; border: none; border-radius: 5px; margin-top: 15px; " name="submit" value="Submit">Save Address</button>
                  </div>
                </div>
              </form>
            </div>
            {% for a in address %}
            <h5 class="billing-address">Address {{forloop.counter}}</h5>
            <div class="card-body border rounded" style="margin-bottom: 20px;">
              <address>
                <p class="mb-2"><strong>Name:</strong> {{ a.name }}</p>
                <p><strong>Address:</strong> {{ a.address }}</p>
                <p><strong>Mobile:</strong> {{ a.mobile|default:"No mobile" }}</p>
                 <!--<p><strong>Status:</strong> {{ a.status }}</p>-->
                <!--<p>{{ a.id }}</p>--> 
              </address>
              <div style="display: flex; align-items: center; gap: 10px;"> 
                {% if a.status %}
                <i data-address-id="{{ a.id }}" class="fa fa-check-circle text-success check check{{a.id}}" style="font-size: 24px;"></i>
                <button data-address-id="{{ a.id }}" class="btn make-default-address button{{a.id}} action_btn" style="display:none; background-color: #eaaa85; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer; font-size: 16px;">Make Default</button>
                {% else %}
                <i data-address-id="{{ a.id }}" class="fa fa-check-circle text-success check check{{a.id}}" style="font-size: 24px; display: none;"></i>
                <button data-address-id="{{ a.id }}" class="btn make-default-address button{{a.id}} action_btn" style="display: block; background-color: #eaaa85; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer; font-size: 16px;">Make Default</button>
                {% endif %}
              </div>
            </div>
            {% endfor %}
            
          </div>
          <div class="tab-pane fade" id="account-details">
            <h3>Account details</h3>
            <div class="login">
              <div class="login_form_container">
                <div class="account_login_form">
                  <form action="#">
                    <p>
                      Already have an account?
                      <a
                        href="#"
                        data-bs-toggle="modal"
                        data-bs-target="#loginActive"
                        >Log in instead!</a
                      >
                    </p>
                    <div class="input-radio">
                      <span class="custom-radio"
                        ><input type="radio" value="1" name="id_gender" />
                        Mr.</span
                      >
                      <span class="custom-radio"
                        ><input type="radio" value="1" name="id_gender" />
                        Mrs.</span
                      >
                    </div>
                    <br />
                    <div class="default-form-box mb-20">
                      <label>First Name</label>
                      <input type="text" name="first-name" />
                    </div>
                    <div class="default-form-box mb-20">
                      <label>Last Name</label>
                      <input type="text" name="last-name" />
                    </div>
                    <div class="default-form-box mb-20">
                      <label>Email</label>
                      <input type="text" name="email-name" />
                    </div>
                    <div class="default-form-box mb-20">
                      <label>Password</label>
                      <input type="password" name="user-password" />
                    </div>
                    <div class="default-form-box mb-20">
                      <label>Birthdate</label>
                      <input type="date" name="birthday" />
                    </div>
                    <span class="example"> (E.g.: 05/31/1970) </span>
                    <br />
                    <label class="checkbox-default" for="offer">
                      <input type="checkbox" id="offer" />
                      <span>Receive offers from our partners</span>
                    </label>
                    <br />
                    <label
                      class="checkbox-default checkbox-default-more-text"
                      for="newsletter"
                    >
                      <input type="checkbox" id="newsletter" />
                      <span
                        >Sign up for our newsletter<br /><em
                          >You may unsubscribe at any moment. For that purpose,
                          please find our contact info in the legal notice.</em
                        ></span
                      >
                    </label>
                    <div class="save_button mt-3">
                      <button class="btn" type="submit">Save</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    <script src="{% static 'assets/js/function.js' %}"></script>

{% endblock content %}
