{% extends "app/base.html" %}
{% load static %}

{% block content %}

<div class="shop-category-area pt-100px pb-100px" data-product-list-url="{% url 'app:product-list' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 order-lg-last col-md-12 order-md-first">
                <div class="sidebar-widget-image">
                    <a href="#" class="single-banner">
                        <img src="{% static "assets/images/banner/12.jpg" %}" alt="" />
                    </a>
                </div>
                <div class="desktop-tab">
                    <div class="shop-top-bar d-flex">
                        <div class="shop-tab nav">
                            <a class="active" href="#shop-grid" data-bs-toggle="tab">
                                <i class="fa fa-th" aria-hidden="true"></i>
                            </a>
                            <a href="#shop-list" data-bs-toggle="tab">
                                <i class="fa fa-list" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="select-shoing-wrap d-flex align-items-center">
                            <div class="shot-product">
                                <p>Sort By:</p>
                            </div>
                            <div class="shop-select">
                                <select class="shop-sort">
                                    <option data-display="Default">Default</option>
                                    <option value="1">Name, A to Z</option>
                                    <option value="2">Name, Z to A</option>
                                    <option value="3">Price, low to high</option>
                                    <option value="4">Price, high to low</option>
                                </select>
                            </div>
                        </div>
                        <div class="select-shoing-wrap d-flex align-items-center">
                            <div class="shot-product">
                                <p>Show:</p>
                            </div>
                            <div class="shop-select show">
                                <select class="shop-sort">
                                    <option data-display="12">12</option>
                                    <option value="1">12</option>
                                    <option value="2">10</option>
                                    <option value="3">25</option>
                                    <option value="4">20</option>
                                </select>
                            </div>
                        </div>
                        <p class="compare-product">Product Compare <span>(0) </span></p>
                    </div>
                </div>
                <div class="shop-top-bar mobile-tab">
                    <div class="shop-tab nav d-flex justify-content-between">
                        <div class="shop-tab nav">
                            <a class="active" href="#shop-grid" data-bs-toggle="tab">
                                <i class="fa fa-th" aria-hidden="true"></i>
                            </a>
                            <a href="#shop-list" data-bs-toggle="tab">
                                <i class="fa fa-list" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="select-shoing-wrap d-flex align-items-center">
                            <div class="shot-product">
                                <p>Sort By:</p>
                            </div>
                            <div class="shop-select">
                                <select class="shop-sort">
                                    <option data-display="Default">Default</option>
                                    <option value="1">Name, A to Z</option>
                                    <option value="2">Name, Z to A</option>
                                    <option value="3">Price, low to high</option>
                                    <option value="4">Price, high to low</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div
                        class="select-shoing-wrap d-flex align-items-center justify-content-between"
                    >
                        <div class="select-shoing-wrap d-flex align-items-center">
                            <div class="shot-product">
                                <p>Show:</p>
                            </div>
                            <div class="shop-select show">
                                <select class="shop-sort">
                                    <option data-display="12">12</option>
                                    <option value="1">12</option>
                                    <option value="2">10</option>
                                    <option value="3">25</option>
                                    <option value="4">20</option>
                                </select>
                            </div>
                        </div>
                        <p class="compare-product">Product Compare <span>(0) </span></p>
                    </div>
                </div>
                <div class="shop-bottom-area">
                    <div class="row">
                        <div class="col">
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="shop-grid">
                                    <div class="row mb-n-30px">
                                        {% for product in products %}
                                        <div
                                            class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-30px"
                                            data-aos="fade-up"
                                            data-aos-delay="{{ forloop.counter0|add:1 }}00"
                                        >
                                            <div class="product">
                                                <div class="thumb">
                                                    <a href="{% url "app:product-detail" product.pid %}" class="image">
                                                        <img
                                                            src="{{ product.image.url }}"
                                                            alt="{{ product.title }}"
                                                        />
                                                        <img
                                                            class="hover-image"
                                                            src="{{ product.image.url }}"
                                                            alt="{{ product.title }} Hover"
                                                        />
                                                    </a>
                                                    <span class="badges">
                                                        <span class="sale"
                                                            >-{{product.get_precentage|floatformat:0}}%</span
                                                        >
                                                        <span class="new">New</span>
                                                    </span>
                                                    <div class="actions">
                                                        <a
                                                            href="wishlist.html"
                                                            class="action wishlist"
                                                            title="Wishlist"
                                                        >
                                                            <i class="pe-7s-like"></i>
                                                        </a>
                                                        <a
                                                            href="#"
                                                            class="action quickview"
                                                            data-link-action="quickview"
                                                            title="Quick view"
                                                            data-bs-toggle="modal"
                                                            data-bs-target="#exampleModal"
                                                        >
                                                            <i class="pe-7s-look"></i>
                                                        </a>
                                                        <a
                                                            href="compare.html"
                                                            class="action compare"
                                                            title="Compare"
                                                        >
                                                            <i class="pe-7s-refresh-2"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="content">
                                                    <br />
                                                    <span class="ratings">
                                                        <span class="rating-wrap">
                                                            <span class="star" style="width: 100%"></span>
                                                        </span>
                                                        <span class="rating-num d-none">(5 Review)</span>
                                                    </span>
                                                    <h5 class="title">
                                                        <a href="single-product.html"
                                                            >{{ product.title }}</a
                                                        >
                                                    </h5>
                                                    <span class="price">
                                                       <span class="new current-product-price-{{product.id}} ">${{ product.price }}</span>
                                                        <br />
                                                        <br />
                                                        <span
                                                            class="old-price"
                                                            style="
                                                                text-decoration: line-through;
                                                                color: #999;
                                                                margin-right: 10px;
                                                                font-size: 0.9em;
                                                            "
                                                            >${{ product.old_price }}</span
                                                        >
                                                    </span>
                                                </div>
                                                <input type="hidden" value="1" id="product-quantity" class="product-quantity-{{ product.id }}" />
                                                <input type="hidden" class="product-pid-{{ product.id }}" value="{{ product.pid }}">
                                                <input type="hidden" class="product-image-{{ product.id }}" value="{{ product.image.url }}">
                                                <input type="hidden" class="product-id-{{ product.id }}" value="{{ product.id }}">
                                                <input type="hidden" class="product-title-{{ product.id }}" value="{{ product.title }}">
                                                <button title="Add To Cart" class="add-to-cart add-to-cart-btn " data-index ="{{product.id}}" id="add-to-cart-btn">
                                                    Add To Cart
                                                </button>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        class="pro-pagination-style text-center text-lg-end"
                        data-aos="fade-up"
                        data-aos-delay="200"
                    >
                        <div class="pages">
                            <ul>
                                <li class="li">
                                    <a class="page-link" href="#"
                                        ><i class="fa fa-angle-left"></i
                                    ></a>
                                </li>
                                <li class="li"><a class="page-link" href="#">1</a></li>
                                <li class="li"><a class="page-link active" href="#">2</a></li>
                                <li class="li"><a class="page-link" href="#">3</a></li>
                                <li class="li">
                                    <a class="page-link" href="#"
                                        ><i class="fa fa-angle-right"></i
                                    ></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 order-lg-first col-md-12 order-md-last">
                <div class="shop-sidebar-wrap">
                    <div class="sidebar-widget">
                        <h4 class="sidebar-title">Categories</h4>
                        <div class="sidebar-widget-category">
                            <ul>
                                <li>
                                    <a href="{% url 'app:category-list'%}" class="selected m-0"
                                        ><i class="fa fa-angle-right"></i> All
                                    </a>
                                </li>
                                {% for c in categories %}
                                <li>
                                    <a href="{% url 'app:category-product-list' c.cid %}">
                                        <i class="fa fa-angle-right"></i> {{ c.title }}
                                        <span>( {{ c.category.count }} )</span>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                  
                   <div class="sidebar-widget mt-8">
                       <h4 class="sidebar-title">Price Filter</h4>
                        <div class="price-filter">
                            <div class="price-slider-amount">
                                <input
                                    type="text"
                                    id="range"
                                    class="p-0 h-auto lh-1"
                                    name="price"
                                    placeholder="$0 - $100"
                                    readonly="readonly"
                                />
                            </div>
                            <div id="slider-range"></div>
                        </div>
                        <input
                            type="number"
                            name=""
                            id="max_price"
                            min="0"
                            max="100"
                            placeholder="Current Price"
                        >
                        <br/>
                        <br>
                        <button class="btn mt-20 w-100"
                            style="background-color: #F0B28C;
                            color: White;
                            padding: 10px 10px;
                            border: 1px solid #ddd;
                            border-radius: 5px;
                            font-size: 1em;
                            font-weight: bold;
                            display: inline-block;
                            text-align: center;
                            text-decoration: none;
                            transition: background-color 0.3s ease;"> Filter
                        </button>
                    </div>

                    <div class="sidebar-widget-image">
                        <a href="#" class="single-banner">
                            <img src="{% static "assets/images/banner/11.jpg" %}" alt="" />
                        </a>
                    </div>
                  
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'assets/js/price.js' %}"></script>

{% endblock content %}